.bets--holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 48px;
    height: 100%;

    @include mobile() {
        flex-wrap: wrap;
    }

    .bets--categories {
        width: 17%;
        color: #fff;
        height: 100%;
        background-color: $blue;

        @include mobile() {
            width: 100%;
        }

        &__title {
            padding: 10px;
            font-size: 24px;
            background-color: $green;

            @include mobile() {
                display: none;
            }
        }

        &--mobile__title {
            padding: 10px;
            font-size: 24px;
            background-color: $blue;

            @include wide() {
                display: none;
            }
        }

        &--links {
            @include mobile() {
                display: none;
            }

            &.active {
                @include mobile() {
                    display: block;
                }
            }
        }

        &__anchor {
            padding: 10px;
            font-size: 18px;
            display: block;
            background-color: $blue;
            transition: background-color .2s ease-in-out;

            &:hover {
                background-color: #4FA0D0;
            }
        }
    }

    .bets--calendar {
        width: 61%;
        background-color: #E7E5DF;
        height: 100%;

        @include mobile() {
            width: 100%;
        }

        .bets {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }

            &--date {
                padding: 10px;
                font-size: 24px;
                background-color: $green;
                color: #fff;
                width: 200px;
                position: relative;
            }
        }

        .warning {
            p {
                color: red;
                font-size: 18px;
                padding: 32px;
            }
        }

        .bet {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            margin-top: 24px;

            &--time,
            &--name {
                font-size: 18px;
                padding: 12px 16px;
            }

            &--time {
                width: 125px;
                background-color: $yellow;
                text-align: center;
            }

            &--name {
                width: calc(100% - 125px);
                background-color: $blue;
            }
        }

        .bet--title {
            padding: 10px;
            font-size: 24px;
            background-color: $blue;
            color: #ffffff;

            @include mobile() {
                background-color: $green;
            }
        }

        .bet--group {
            padding: 16px;
        }

        .bet--history {
            p {
                padding: 3px 3px 3px 0;
            }
        }

        .bet--block {
            margin-top: 8px;
            display: inline-block;
            padding: 8px 16px;
            background-color: $yellow;
            border: 0;
        }

        input[type=radio] {
            display: none;

            &:checked + label {
                background-color: #eed945;
            }
        }

        .bet--checkbox {
            display: inline-block;
        }
    }

    .bets--ads {
        width: 17%;
        background-color: #c4c4c4;
        height: 100%;

        @include mobile() {
            display: none;
        }
    }
}