.form {
    font-size: 18px;
    width: 300px;
    padding: 32px;

    &__login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fbfbfb;
        border-radius: 12px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    }

    &__panel {
        input[type=text] {
            background-color: transparent !important;
        }
    }

    .form--group {
        width: 100%;
        margin-top: 73px;
        position: relative;

        &:first-child {
            margin-top: 28px;
        }

        label {
            display: block;
            position: relative;
            top: 2px;
            cursor: pointer;
            @include animate;

            &.active {
                top: -8px;
            }
        }

        input[type=text],
        input[type=email],
        input[type=password] {
            display: block;
            width: 100%;
            background-color: #fbfbfb;
            border: 0;
            border-bottom: 1px solid $dark;
        }
    }

    input[type=submit] {
        display: block;
        width: 100%;
        font-size: 18px;
        padding: 4px;
        border: 0;
        border-radius: 12px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
        color: $dark;
        background-color: $green;
        margin-top: 48px;
        cursor: pointer;
    }
}

.button--delete {
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.form--error {
    color: red;
    font-size: 14px;
}