#home {
    min-height: 100%;
    min-width: 100%;
    background-image: url("/img/home.jpg");
    background-size: cover;
    background-position: 50%, 50%;
    background-repeat: no-repeat, no-repeat;
    position: relative;

    @include mobile() {
        height: calc(100vh - 160px);
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        div {
            background-color: $green;
            height: 80px;
            transform: skew(-25deg);
            width: 200px;
            position: relative;
            display: flex;
            align-items: center;

            p {
                transform: skew(25deg);
                width: 200px;
                text-align: center;
                color: $white;
                font-size: 32px;

                a {
                    display: block;
                    position: relative;
                }
            }

            &:nth-child(2) {
                margin-bottom: 50px;
                width: 300px;

                p {
                    width: 300px;
                }
            }
        }
    }
}