@mixin animate {
    transition: all .3s ease-in-out;
}

@mixin mobile {
    @media screen and (max-width: 800px) {
        @content;
    }
}

@mixin wide {
    @media screen and (min-width: 801px) {
        @content;
    }
}