.panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 48px;
    height: 100%;

    @include mobile() {
        flex-wrap: wrap;
        height: auto;
    }

    .panel--categories {
        width: 17%;
        color: #fff;
        height: 100%;
        background-color: $blue;

        @include mobile() {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
        }

        &__title {
            padding: 10px;
            font-size: 24px;
            background-color: $green;

            @include mobile() {
                font-size: 3vw;
            }
        }

        &__anchor {
            padding: 10px;
            font-size: 18px;
            display: block;
            background-color: $blue;
            transition: background-color .2s ease-in-out;

            &:hover {
                background-color: #4FA0D0;
            }

            @include mobile() {
                font-size: 3vw;
            }
        }
    }

    .panel--calendar {
        width: 80%;
        background-color: #E7E5DF;
        height: 100%;

        @include mobile() {
            width: 100%;
            height: auto;
            overflow-x: scroll;
        }
    }

    &--user {
        padding: 32px;

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 16px;

            td {
               padding: 8px 8px;

                a:hover {
                    font-weight: bold;
                }
            }

            thead {
                tr {
                    font-weight: bold;
                }
            }

            tbody {
                tr {
                    border-top: 1px solid black;
                }
            }
        }
    }
}

.pagination--buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-weight: bold;
    }
}

.panel--new {
    display: flex;
    justify-content: center;

    a {
        display: block;
        font-size: 18px;
        padding: 4px 24px;
        border: 0;
        border-radius: 12px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        color: #393E41;
        background-color: #44BBA4;
        margin-top: 48px;
        cursor: pointer;
    }
}