.header {
    width: 100vw;
    height: 80px;
    background-color: $blue;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    position: relative;

    h1 {
        font-size: 34px;
        color: $yellow;
        font-weight: 400;
    }

    .menu {
        display: flex;
        align-items: center;

        p {
            display: block;
            font-size: 22px;
            text-transform: uppercase;
            color: $yellow;
            position: relative;
        }

        > p {
            @include wide() {
                display: none;
            }
        }

        &__wide {
            display: flex;
            align-items: center;

            @include mobile() {
                display: none;
            }

            div {
                background-color: $yellow;
                height: 80px;
                transform: skew(-25deg);
                width: 200px;
                position: relative;
                display: flex;
                align-items: center;
                margin-left: 48px;
                margin-right: 48px;

                p {
                    transform: skew(25deg);
                    width: 200px;
                    text-align: center;

                    a {
                        display: block;
                        position: relative;
                        color: $blue;
                        top: 50%;
                    }
                }
            }
        }

        &__mobile {
            position: absolute;
            left: 0;
            bottom: -153px;
            z-index: 1;
            display: none;

            @include mobile() {
                display: none;

                &.active {
                    display: block;
                }
            }

            p {
                color: $yellow;
                background-color: $blue;
                padding-left: 48px;
                padding-top: 16px;
                padding-bottom: 16px;
                width: 100vw;
                font-size: 16px;
            }
        }
    }
}

.footer {
    width: 100vw;
    height: 80px;
    background-color: $blue;
    padding: 0 48px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);

    p {
        font-size: 18px;
        color: $white;

        &:first-child {
            font-size: 34px;
            color: $yellow;
            margin-right: 48px;
        }
    }
}