@import "variables";
@import "mixins";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.content {
    @include wide() {
        height: calc(100vh - 160px);
    }
}

@import "template";
@import "form";
@import "home";
@import "bets";
@import "panel";